<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.gamuzic.todolist"
        version   = "1.0.0">

    	<name>To Do</name>

    	<description>
    		A great way to keep track of your daily tasks.
   	</description>

    	<author href="http://gamuzic.com" email="sarah@gamuzic.com">
        	Sarah Monks
   	</author>
	<content src="index.html" />
    
	<!--specify that we do not want any permissions to be added to the app. we will still have internet by doing this-->
    	<preference name="permissions"                value="none"/>

    	<!-- Use the preference element to customize your app and platform. -->
   	<preference name="target-device"              value="universal" />      <!--universal-for all devices-->
    	<preference name="SplashScreen" value="splash" />
	<preference name="show-splash-screen-spinner" value="true" />           <!--ios: the spinner will appear on the splash screen during app loading -->
     	<!-- Core plugins -->

    	<gap:plugin name="org.apache.cordova.device" />
    	<gap:plugin name="org.apache.cordova.splashscreen" />


    	<!--Define app icon for each platform. -->
	<!--created using phonegap image generator tool http://pgicons.abiro.com/-->
    	<icon src="icon.png" />
    	<icon src="res/icons/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    	<icon src="res/icons/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    	<icon src="res/icons/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    	<icon src="res/icons/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    	<icon src="res/icons/blackberry/icon-80.png"     gap:platform="blackberry" />
    	<icon src="res/icons/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
    	<icon src="res/icons/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    	<icon src="res/icons/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    	<icon src="res/icons/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    	<icon src="res/icons/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    	<icon src="res/icons/webos/icon-64.png"          gap:platform="webos" />
    	<icon src="res/icons/windows-phone/icon-48.png"  gap:platform="winphone" />
    	<icon src="res/icons/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />

   	<!--Define an app splash screen for each platform. -->
	<gap:splash src="splash.png" />
    	<gap:splash src="res/screens/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    	<gap:splash src="res/screens/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    	<gap:splash src="res/screens/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    	<gap:splash src="res/screens/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    	<gap:splash src="res/screens/blackberry/screen-225.png"              gap:platform="blackberry" />
    	<gap:splash src="res/screens/ios/screen-iphone-portrait.png"         gap:platform="ios"     width="320" height="480" />
    	<gap:splash src="res/screens/ios/screen-iphone-portrait-2x.png"      gap:platform="ios"     width="640" height="960" />
    	<gap:splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    	<gap:splash src="res/screens/ios/screen-ipad-portrait.png"           gap:platform="ios"     width="768" height="1024" />
    	<gap:splash src="res/screens/ios/screen-ipad-landscape.png"          gap:platform="ios"     width="1024" height="768" />
    	<gap:splash src="res/screens/windows-phone/screen-portrait.jpg"      gap:platform="winphone" />

    	<gap:config-file platform="ios" parent="CFBundleShortVersionString">
    	<string>100</string>
    	</gap:config-file>

    	<platform name="android">
        	<allow-intent href="market:*" />
    	</platform>
    	<platform name="ios">
       	 	<allow-intent href="itms:*" />
        	<allow-intent href="itms-apps:*" />
    	</platform>

</widget>